:root {
    --border-radius: 10px;
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    width: auto;
    height: auto;
    margin: 50px;
    background-color: lightskyblue;
    padding: 20px 20px 20px 20px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

/*.board {*/
/*    padding: 50px 50px 50px 50px;*/
/*    border-style: solid;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*    grid-template-rows: 1fr 1fr 1fr 1fr;*/
/*}*/





.symbols {
    border-style: solid;
}

.symbol > img {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0 0 4px ghostwhite;
    border-radius: var(--border-radius);
    border-style: dashed;
}


#board {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.slot {
    width: 170px;
    height: 170px;
    margin: 10px;
    background-color: cornflowerblue;
    border-radius: var(--border-radius);
    border: 1px solid black;
}
