:root {
    --border-radius: 2px;
    --grid-cols: 1;
    --grid-rows: 1;
}



html, body {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 70px 40px 410px 200px 50px;
}

.header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #6C648B;
}

.game-info {
    display: flex;
    /*align-content: flex-start;*/
    /*justify-content: flex-start;*/
    background-color: #FBA100;
}

.game-info.input {
    display: inline-grid;
    justify-content: left;

}

section.game-cards.div {
    display: grid;
    justify-content: right !important;

}


section.game-board {
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #B6A19E;
}

.game-cards {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #6BBAA7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #86989B;
    color: darkslategray;
    font-size: smaller;
    text-align: center;
}

#board {
    width: min-content;
    height: min-content;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: 0 0 0 1px #122138;
    gap:3px;
}


.slot {
    width: 55px;
    height: 55px;
    box-shadow: 0 0 0 1px #122138;
    align-self: center;
    justify-self: center;
    border-radius: var(--border-radius);}


.all-cards {width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #6BBAA7;}

.card {
    margin: 14px;
    width: 55px;
    height: 55px;
    padding: 2px;
    box-shadow: 0 0 0 2px #122138;
    border-radius: var(--border-radius);
}

.card > img {
    width: 55px;
    height: 55px;
    box-shadow: 0 0 0 2px #122138;
    border-radius: var(--border-radius);
}



