<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<body>

<section class="header">sudoku game</section>

<section class="game-info">

    <input class="input" type="text" id="userName" value="your name here...">
    <button onclick="enterUserName()">confirm</button>


</section>
<section class="game-board">
    <div class="board" id="board"></div>
</section>

<section class="game-cards">

    <div class="all-cards"></div>

</section>

<section class="footer">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></section>
<script src="../game.js" defer></script>


</body>
</html>
