<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<body>

<section class="header">sudoku game</section>

<section class="game-info">
    <form id="formUser">
        <input class="input" type="text" id="userName">
        <button type="submit" onclick="enterUserName()">confirm</button>
    </form>


    <form id="formLevel">

        <select class="select" id="difficulty" onchange="diffLevel()">
            <option>--Please choose a level--</option>
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
        </select>
    </form>

</section>


<section class="game-board">


    <div class="board" id="board"></div>

</section>
<section class="game-cards">

    <div class="all-cards"></div>

</section>

<section class="footer">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></section>
<script src="../game.js" defer></script>


</body>
</html>
