<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sudoku</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body id="mainclick" onclick="ShowStartButtons()">
    <div class="container">

        <br> <br>
      <div class="row align-items-center">
        <div class="col "style="text-align: center">
            <h2 class=sudoku"><img class=sudoku" style="position: center;" width="auto" height="100"  src="../static/images/kids.png" alt="Sudoku" /></h2>
            <br><br>

        </div>
        <div class="col-6 "style="text-align: center">
            <h2><img class=sudoku" style="position: center;" width="auto" height="40"  src="../static/images/welcome.png" alt="Sudoku" /></h2>

                <button class="btn btn-info btn-lg"   type="submit"  data-bs-toggle="tooltip" data-bs-html="true" title="Come on play again !"
                        id="myClick" style="display: none" onclick="RestartGame()">Restart game</button>
      <!-- Trigger the modal with a button -->
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal"  data-target="#myModal" id="myClick2" style="display: none">Start game</button>
         <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><img class=sudoku" style="position: center;" width="auto" height="40"  src="../static/images/kids.png" alt="Sudoku" /></h4>
            </div>
            <div class="modal-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16" style="color: #41c9f5">
                      <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                      <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>

            <div class="game-info">
                    <form class="form-inline" id="formUser">
                        <div class="form-group mb-3">
                            <input class="input" type="text" id="userName" placeholder="Your name" required>
                            <br><br>
                            <div>
                            <button type="submit" class="btn btn-info" onclick="enterUserName()" >Confirm</button>
                            </div>
                        </div>

                    </form>
<br><br>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-grid-3x3-gap-fill " viewBox="0 0 16 16" style="color: #41c9f5">
                  <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
                </svg>

                    <form id="formLevel">
                        <select class="form-select" aria-label="Default select example" id="difficulty" onchange="diffLevel()" >
                            <option selected>Please choose a level</option>
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </form>

            </div>
                <br>

                <div class="userName">
            <p>Fingers cross
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing-fill" viewBox="0 0 16 16" style="color: #41c9f5">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z"/>
            </svg></p>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" onclick="showStopper()">Let's get started</button>
            </div>
          </div>

        </div>
      </div>
        </div>

            <br>
            <div class="row-12" id="myClick3" style="visibility: hidden; text-align: center">
                 <div class="userDisplayBoard"></div>
                <div class = "col">
                    <div class="col" style="align-items: center" id="timerDisplay">00:00:00</div>
                        <button class="btn btn-primary btn-group btn btn-info" id="startBtn" role="button" onclick="startTimer()">
                            <span class="glyphicon glyphicon-play"></span></button>
                        <button class="btn btn-primary btn-group btn btn-info" id="stopBtn" role="button" onclick="stopTimer()">
                            <span class="glyphicon glyphicon-stop"></span></button>
                        <button class="btn btn-primary btn-group btn btn-info" id="pauseBtn" role="button" onclick="pauseTimer()">
                            <span class="glyphicon glyphicon-pause"></span></button>
                        <button class="btn btn-primary btn-group btn btn-info" id="resetBtn" onclick="resetTimer()">
                            <span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>

<br>
            <section class="game-board">


            <div class="board" id="board"></div>

            </section>


             <div class="all-cards mixed-cards"></div>



        </div>
      </div>
    </div>



    <div class="row" style="position: fixed; left:20px; bottom: 10px " class="p-3 mb-2 bg-light text-dark">
    <div class="col" class="p-3 mb-2 bg-light text-dark">
        <p>&copy; Sudoku! 2021 &middot; <a style="color: black">Creators M. Pawlak J. Pisasecka J. Zakrzewska </a> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>

</div>



<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal();
  });
});
</script>
<script src="../game.js" defer></script>

</body>
</html>
